<div id="header">
  <!-- left -->
  <div class="site-name">
    <a href="/" id="logo">title</a>
  </div>
  <!-- right -->
  <div class="nav-menu">
    <a class="<%= current === 'Home' ? 'current' : '' %>" href="/">Home</a>
    <a class="<%= current === 'Archive' ? 'current' : '' %>" href="/archive">Archive</a>
    <a class="<%= current === 'About' ? 'current' : '' %>" href="javascript:alert('正在施工...')">About</a>
    <% if (!user) { %>
    <a class="<%= current === 'Login' ? 'current' : '' %>" href="/login">Login</a>
    <% }  else {%>
    <a class=username "<%= current === 'Login' ? 'current' : '' %>" href="#" onclick="logout()" ><%=user.username%></a>
    <% } %>
  </div>
  <script>
    async function logout() {
    const res = await fetch('/login/logout', { method: 'POST' });
    if (res.ok) {
      location.href = '/';
    } else {
      alert('退出失败');
    }
  }
  </script>
</div>
