<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title: "收藏"}) %>
  <body>
    <div class="body-container">
      <%- include("partials/header", {current: "Archive"}) %>
      <div id="layout">
        <!-- 主体 -->
        <div id="content-container">
          <% posts.forEach((post)=>{ %>
            <div><a href="/note/<%= post %>"><%= post %></a></div>
            <% }) %>
        </div>
        <%- include("partials/sidebar") %>
      </div>
    </div>
  </body>
</html>